p {
    text-align: center;
    font-size: 164px;
    border: 100px solid black;
    border-radius: 117px;
    padding: 124px;
}

/*
<clue>
Four numbers you need to reveal,
Put them together, and a website will be real
</clue>
*/